.userImage {
    height: 7rem;
}
.username {
    background-image: url("../../assets/svg/user-solid.svg");
    background-position: 1rem;
    background-size: 1rem;
}
.email {
    background-image: url("../../assets/svg/email.svg");
    background-position: 1rem;
    background-size: 1.2rem;
}
.password {
    background-image: url("../../assets/svg/password.svg");
    background-position: 1rem;
    background-size: 1.5rem;
}
.repeatPassword {
    background-image: url("../../assets/svg/repeat.svg");
    background-position: 1rem;
    background-size: 1.2rem;
}
.bio {
    background-image: url("../../assets/svg/biography.svg");
    background-position: 1rem;
    background-size: 1.5rem;
    height: 2.5rem;
    overflow: auto;
}
.originAirport {
    background-image: url("../../assets/svg/airport-tower.svg");
    background-position: 1rem;
    background-size: 1.2rem;
}
