.Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Form [type='submit'] {
  background-color: #3f6abe;
  color: #f9e24c;
  display: block;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  width: 100%;
}

.Form input {
  background-color: rgb(196, 196, 196);
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  border: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 2rem;
  box-shadow: inset 3px 2px 7px rgba(5, 5, 5, 0.542);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  width: 70vw;
}

.Form .button {
  border: 4px groove;
  border-color: rgba(163, 147, 147, 0.411);
  box-shadow: 3px 2px 7px rgba(5, 5, 5, 0.542);
  margin: 1rem;
  max-width: 150px;
  text-align: center;
  width: 50vw;
}

.Form input:invalid {
  border: 2px solid crimson;
}

.userImage {
  height: 7rem;
}
#username {
  background-image: url('../../assets/svg/user-solid.svg');
  background-size: 1rem;
}
#email {
  background-image: url('../../assets/svg/email.svg');
  background-size: 1.2rem;
}
#password {
  background-image: url('../../assets/svg/password.svg');
  background-size: 1.5rem;
}
#repeatPassword {
  background-image: url('../../assets/svg/repeat.svg');
  background-size: 1.2rem;
}
#bio {
  background-image: url('../../assets/svg/biography.svg');
  background-size: 1.5rem;
  height: 2.5rem;
  overflow: auto;
}
#originAirport {
  background-image: url('../../assets/svg/airport-tower.svg');
  background-position: 0.5rem;
  background-size: 1.2rem;
}
